body {
  background-color: white;
}

h1 {
    color: rgb(46, 9, 105);
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}

.row {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 60px 130px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid orange;
  }
  
  .button3:hover {
    background-color: orange;
    color: white;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid yellow;
  }
  
  .button4:hover {
    background-color: yellow;
}
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid red;
  }
  
  .button5:hover {
    background-color: red;
    color: white;
  }

  .button6 {
    background-color: white;
    color: black;
    border: 2px solid #540872;
  }
  
  .button6:hover {
    background-color: #bb35bb;
    color: white;
  }