<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>chadAI</title>
</head>
<body>
   <h1>welcome to chadAI</h1>
    <button class="button button1">Przysiady</button>
    <button class="button button2">Biceps</button>
    <button class="button button3">Pompka</button>
    <button class="button button4">Brzuszki</button>
    <button class="button button5">TBA</button>
    <button class="button button6">TBA</button>
</body>
</html>