<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>DeepTraining</title>
</head>
<body>
   <h1><img src="static/images/newlogo.png" width="700" height="300"></h1>
    <div class="row">
        <a class="button button1" href="{{ url_for('show_przysiad') }}"><img src="static/images/przysiad.png"></a>
        <a class="button button2" href="{{ url_for('show_biceps') }}"><img src="static/images/biceps.png"></a>
        <a class="button button3" href="{{ url_for('show_pompka') }}"><img src="static/images/pompka.png"></a>
    </div>
    <div class="row">
        <a class="button button4" href="{{ url_for('show_brzuszki') }}"><img src="static/images/brzuszki.png"></a>
        <a class="button button5" href="{{ url_for('show_military') }}"><img src="static/images/military.png"></a>
        <a class="button button6" href="{{ url_for('show_wznosy') }}"><img src="static/images/wznosy.png"></a>
        <!-- <a class="button buttondark"><img src="static/images/tryb2.png" width="50" height="50"></a> -->
    </div>
</body>
</html>